	  <hr>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3 column">
                <h4>Follow Us</h4>
                <ul class="nav">
                    <li><a href="https://www.facebook.com/groups/dataScienceSG/">Facebook</a></li>
                    <li><a href="http://www.youtube.com/channel/UCWmK3pY-hjLrG-5d1f3nRfQ">YouTube</a></li>
                    <li><a href="https://www.linkedin.com/groups?home=&gid=6663054">LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contact Us</h4>
                <ul class="nav">
                    <li><a href="mailto:datasciencesg@gmail.com">Email</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 column">
                <h4>Contribute</h4>
                <ul class="nav">
                    <li><a href="https://trello.com/b/d7Iuwji9/happenings-data-science-sg">Trello</a></li>
                    <li><a href="https://drive.google.com/folderview?id=0Bx0LJp6Bk5_yNE9xa1c1X1NCUnM&usp=sharing">Drive</a></li>
                    <li><a href="https://github.com/datasciencesg/dssg">Github</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <p class="text-right">©2015</p>
    </div>
</footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="<%- config.root %>js/main.js"></script>
		
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54993639-1', 'auto');
  ga('send', 'pageview');

</script>