<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DataScience SG</title>
    <meta name="description" content="DataScience Singapore is a user group for anyone interested in the area of data science. We usually invite the occasional domain experts to share with us about experiences via the monthly meetup." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="<%- config.root %>css/styles.css" />
</script>
  </head>