    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron dssgbanner">
      <div class="container">
	  <img src='<%- config.root %>img/dssg_banner.png'>
      </div>
    </div>
<div class="container">
<%- partial('_partial/archive', {pagination: 2, index: true}) %>
</div>